* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 238, 238);
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 840px;
    height: 840px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: 2px solid rgb(250, 112, 112);
}

.grid-item {
    min-width: 1px;
    min-height: 1px;
    background-color: #fff;
    border: 1px solid rgb(199, 199, 199);
}

.btn-new-grid {
    display: block;
    margin: 1rem auto;
}